<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game Night Details</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
        <a class="text-leftt text-light btn btn-primary"  href="/games">Go Back</a>
        <a class="text-leftt text-light btn btn-primary"  href="/logout">Logout</a>
    
    <h4>{{ game.game }}</h4>
    <h6>Planned By: {{ game.creator.first_name }} {{ game.creator.last_name }}</h6>
    <h6>Location: {{ game.location }}</h6>
    <h6>Game Night Date {{ game.date |date:"SHORT_DATE_FORMAT" }}</h6>
    <h6>Time: {{ game.time }}</h6>

    <h4>Users Joining the Game Night:</h4>
    {% for user in all_users %}
    
    <p>{{ user.first_name }} {{ user.last_name }}</p>
    
    {% endfor %}

</body>
</html>
